<h3 *ngIf="languages.length === 0">Loading...</h3>
<div class="container" *ngIf="languages.length > 0">
    <h3>Employee Forms</h3>
    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
        <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
            <label class="control-label">First Name</label>
            <input type="text" class="form-control" required name="firstName" 
            minlength="3"
            #firstName="ngModel"
            [ngModel]="model.firstName"
            (ngModelChange)="firstNameToUpperCase($event)">
            <div *ngIf="firstName.invalid && firstName.dirty" class="alert alert-danger">
                First Name is required, and must be at least 3 characters.
            </div>
        </div>
        <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" required name="lastName"
                minlength="3"
                #lastName="ngModel"
                [ngModel]="model.lastName"
                ngModel>
            </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="is-full-time" 
                [(ngModel)]="model.isFullTime"> Full Time Employee
            </label>
        </div>

        <label>Payment Type</label>
        <div class="radio">
            <label>
                <input type="radio" name="paymentType" value="w2" checked
                [(ngModel)]="model.paymentType">
                W2
            </label>
        </div>
        <div class="radio">
                <label>
                    <input type="radio" name="paymentType" value="1099"
                    [(ngModel)]="model.paymentType">
                    1099
                </label>
            </div>
        <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
                <label>Primary Language</label>
                <select class="form-control" 
                name="primaryLanguage"
                #primaryLanguage
                (blur)="validatePrimaryLanguage(primaryLanguage.value)"
                (change)="validatePrimaryLanguage(primaryLanguage.value)"
                [(ngModel)]="model.primaryLanguage">
                    <option value="default">Select a Language...</option>
                    <option *ngFor="let lang of languages">
                        {{ lang }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                    <timepicker name="startTime" [(ngModel)]="startTime">
                    </timepicker>
                </div>
            <div class="form-group col-md-3">
                <datepicker name="startDate" [(ngModel)]="startDate">
                </datepicker>
            </div>
        <button class="btn btn-primary" type="submit"
        [disabled]="form.invalid">Ok</button>
    </form>
</div>